.features{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;

}
.features-card{
    margin: 2px; 
}
.features-h{
    font-size: 3rem !important;
    font-family: "Playwrite GB S", cursive;

}

.features-card img {
    height: 200px; /* Set the desired uniform height */
    width: 100%; /* Make the image take the full width of the card */
    object-fit: cover; /* Ensure the image covers the space without distortion */
    object-position: center; /* Center the image */
    
  }
  
.btn-color{
    background-color: #5c7726;
    color: white;
    font-size: 1.02rem;
    font-weight: 700;
    text-shadow: 1.25px 1.25px  1px black;

}
.list-items{
    margin-right: 2rem;
}
.card-style{
    /* text-align: center; */
    border: none;
    border-radius: 0px 0px;
    /* opacity: 0.89; */
}
.bg-img{
    filter: blur(1.25px);

}
.title{
    text-align: center;
    margin-top: 5rem;
    font-family: "Playwrite GB S", cursive;
    font-size: 6rem;
    color: white;
    font-weight: 900;
    text-shadow: 5px 8px  2px black;
}
.text{
    font-size:2rem;
    /* font-family: "Oswald", sans-serif; */
    text-align: center;
    margin: 0 auto;
     
    color: white;
    font-weight: 900;
    text-shadow: -2px -3px 2px black;
    text-emphasis: filled ;
   

}
 